@model MyFriends.ViewsModels.VMFriendWithImage

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Friend</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>     
            <div class="form-group">
                <label asp-for="Friend.FirstName" class="control-label"></label>
                <input asp-for="Friend.FirstName" class="form-control" />
                <span asp-validation-for="Friend.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Friend.LastName" class="control-label"></label>
                <input asp-for="Friend.LastName" class="form-control" />
                <span asp-validation-for="Friend.LastName" class="text-danger"></span>
            </div>          
            <div class="form-group">
                <label asp-for="Friend.PhoneNumber" class="control-label"></label>
                <input asp-for="Friend.PhoneNumber" class="form-control" />
                <span asp-validation-for="Friend.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Friend.Email" class="control-label"></label>
                <input asp-for="Friend.Email" class="form-control" />
                <span asp-validation-for="Friend.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Friend.City" class="control-label"></label>
                <input asp-for="Friend.City" class="form-control" />
                <span asp-validation-for="Friend.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Friend.Street" class="control-label"></label>
                <input asp-for="Friend.Street" class="form-control" />
                <span asp-validation-for="Friend.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Friend.HomeNumber" class="control-label"></label>
                <input asp-for="Friend.HomeNumber" class="form-control" />
                <span asp-validation-for="Friend.HomeNumber" class="text-danger"></span>
            </div>   
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input type="file" asp-for="File" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
